
/* CORES */

:root {
  --azul-escuro: #1e2c5c;
  --amarelo: #c6ad7b;
  --azul-claro: #3957a6;
  --branco: #f3f2ef;
  --cinza: #efefee;
}


/* FONTS */
@font-face {
  font-family: 'PPRightGothicWide';
  src: url('/fonts/Right-Gothic/PPRightGothic-WideRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPRightGothicWide';
  src: url('/fonts/Right-Gothic/PPRightGothic-WideLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PPRightGothicWide';
  src: url('/fonts/Right-Gothic/PPRightGothic-WideBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PPEditorialOld';
  src: url('/fonts/Editorial-Old/PPEditorialOld-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPEditorialOld';
  src: url('/fonts/Editorial-Old/PPEditorialOld-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PPEditorialOld';
  src: url('/fonts/Editorial-Old/PPEditorialOld-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

section {

  display: block !important; 
}

@media (max-width: 767px) {

  .container {
    padding: 0 2rem !important;
  }
}

/* HERO */

.hero .logo {
    margin: 0 0 2rem 0;
  max-width: 80%;
}



@media (max-width: 767px) {


  .hero .logo {
  margin: 2rem 0;
}
}

.hero {
  background: url('/assets/images/hero/BACKGROUND-SEÇÃO-1.jpg') no-repeat center center/cover;
  display: flex !important;
  align-items: center;
  flex-direction: column;
    justify-content: flex-end;
}


    .fs-1 {
      line-height:30px;
      font-size: 24px !important;
    }

    .hero p {
       font-size: 14px;
      font-family: 'PPRightGothicWide';
      color: var(--branco);
      font-weight: 300;
      letter-spacing: 1px;

    }

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



    .bullets {
      display: flex;
      gap: 3rem;
         justify-content: center;
         align-items: center;
    }

    @media (min-width: 768px) {
      .bullets {
        flex-direction: row;
      }
    }

    .bullet-box {
      background: rgba(255, 255, 255, 0.05);
      border-radius: 1rem;
      text-align: center;
      font-size: 14px;
      border: 1px solid rgba(255, 200, 87, 0.2); /* 40% de opacidade */
    width: 144px;
    height: 89px;
       font-family: 'PPRightGothicWide';
       font-weight: 300;
        color: var(--branco);
        display: flex;
        justify-content: center;
        align-items: center;
          position: relative;
          line-height: 14px;
    }

  .btn-1 {
  border: none;
  font-family: 'PPRightGothicWide';
  font-weight: 700;
  transition: all 0.3s ease; /* Adiciona suavidade à transformação */
  background-color: var(--amarelo);
  border-bottom: 5px solid var(--azul-escuro);
  display: inline-flex;
  font-size: 15px;
  padding: 0.5rem 1rem;
  color: var(--azul-escuro);
  text-decoration: none;
  border-radius: 10px;
  transform: translateY(0); /* Estado inicial */
  margin-top: 2rem !important;

}

.btn-1:hover {
  transform: translateY(-4px); /* Sobe 4px suavemente */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Opcional: sombra para realce */
}


.btn-1-mobile {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%) !important;
  white-space: nowrap;
}



    .bullet-box::before {
       content: "";
    position: absolute;
    top: -16px;
    left: 16px;
    width: 33px;
    height: 33px;
    background-image: url('/assets/images/hero/ICONE-ESTRELA-CÍRCULO.png');
    background-size: contain;
    background-repeat: no-repeat;
}


/* SECTION 2 */

.section-2 {

  background-color: var(--amarelo);
}

.section-2 p {
margin: auto;
  color: var(--branco);
  text-align: center;
  font-size: 26px !important;
  font-family: 'PPRightGothicWide';
  font-weight: 400;
  letter-spacing: -.5px;
      padding: .5rem;
      line-height: 35px;
}

.custom-width {
  width: 100%;
}

@media (min-width: 992px) {
  .custom-width {
    width: 500px;
  }
}


/* SORBE IMERSÃO */



.sobre-imersao {
  background: url('/assets/images/sobre-imersao/BACKGROUND-SEÇÃO-2.jpg') no-repeat center center/cover;
      display: flex;
      align-items: center;
       overflow: hidden;
       padding: 8rem 0 !important;
  
}

.sobre-imersao h5 {

  border: 2px solid var(--azul-escuro);
  display: inline-flex;
  padding: .5rem 2rem;
  border-radius: 99px;
    font-family: 'PPEditorialOld';
    font-weight: 700;
    color: var(--azul-escuro);
    font-size: 22px;
    margin-bottom: 2.5rem;
}

.sobre-imersao li p {
font-family: 'PPRightGothicWide';
    font-weight: 400;
font-size: 17px;
text-align: justify;
line-height: 30px;
    color: var(--azul-escuro);
    margin: auto;
}

.sobre-imersao li {
position: relative;
z-index: 99;
  padding: 0 3rem;
  margin-bottom: 6rem !important;
}

@media (max-width: 767px) {
.sobre-imersao li {
position: relative;
z-index: 99;
  padding: 0 2rem;
}

}

@media (min-width: 992px) {
  .sobre-imersao li p {

    padding: 0 2rem;
  }

  .sobre-imersao img {
    margin-top: -26px;
  }
}

.btn-- {
 position: relative;
margin-top: -80px;
 z-index: 99999999999;
     margin-bottom: 5rem !important;
}

  .btn-2 {
  border: none;
  font-family: 'PPRightGothicWide';
  font-weight: 400;
  transition: all 0.3s ease; /* Adiciona suavidade à transformação */
  background-color: var(--azul-escuro);
  border-bottom: 5px solid var(--amarelo);
  display: inline-flex;
  font-size: 18px;
  padding: 0.8rem 2.5rem;
  color: var(--branco);
  text-decoration: none;
  border-radius: 10px;
  transform: translateY(0); /* Estado inicial */

 
  text-transform: uppercase;
}

.btn-2:hover {
  transform: translateY(-4px); /* Sobe 4px suavemente */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Opcional: sombra para realce */
}

.image-wrapper {
  position: relative;
  display: inline-block;
  z-index: 1;
 
}

.image-wrapper::before {
      content: "";
    position: absolute;
    top: -83%;
    left: -81%;
    width: 255%;
    height: 255%;
    background-image: url(/assets/images/sobre-imersao/ÍCONE-ESTRELA.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 1;
}

/* TECNICA */

.tecnica {
 display: flex !important;
    background: url('/assets/images/tecnica/BACKGROUND DESKTOP COM TRANSPARÊNCIA.png') no-repeat top center / cover;
    position: relative;
    z-index: 7;
    padding: 3rem 0;
    margin-top: -180px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
.tecnica {
  background: url('/assets/images/tecnica/BACKGROUND\ MOBILE\ SEÇÃO\ 3.png') no-repeat top center / cover;
  position: relative;
  z-index: 7;
  padding: 2rem 0;
  margin-top: -180px;
}
}


.tecnica li p {
  font-family: 'PPRightGothicWide';
  font-weight: 400;
  color: var(--branco);
font-size: 12px;
line-height: 25px;
position: relative;
}

.tecnica ul {
margin-top: 5rem;
  margin-bottom: 0 !important;

}

@media (min-width: 992px) {
.tecnica li p::before {
   content: "";
        position: absolute;
        left: -60px;
        top: -6px;
        width: 37px;
        height: 37px;
        background-image: url( '/assets/images/tecnica/ÍCONE-ESTRELA.png');
        background-size: contain;
        background-repeat: no-repeat;
}
.tecnica li p {
               width: 300px;

}
.tecnica img {
  max-width: 50%;
        position: relative;
        top: -20px;
}

.tecnica ul {

  margin-left: 160px;
}
}

@media (max-width: 991px) {

.tecnica ul {
margin-top: 2rem;
  margin-bottom: 0 !important;

}

.tecnica li p {

      margin-bottom: 4rem;
}

  .tecnica {
        padding: 7rem 0 3rem 0;
        margin-top: -200px;
                height: 100%;
  }
  .tecnica li p::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -50px;
    width: 40px;
    height: 40px;
    background-image: url(/assets/images/tecnica/ÍCONE-ESTRELA.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.tecnica img {
  max-width:80%;
}
}


/* SEÇÃO 4 NOVA HARMONIZAÇÃO */

.secao-4 {
  padding: 5rem 0 !important;
    background: url('/assets/images/seção-4/BACKGROUND\ SEÇÃO\ 4.jpg') no-repeat top center / cover;
}

.secao-4 h3 {

   font-family: 'PPRightGothicWide';
  font-weight: 400;
  color: var(--azul-escuro);
font-size: 40px;
text-align: left;

}

.secao-4 .card {
  background-color: transparent;
}

.secao-4 .row.bullets {
padding-top: 5rem !important;

}

.secao-4 .row .bullet{
    border: 1px solid var(--azul-escuro);
    border-radius: 20px;

}



.secao-4 h5 {
background-color: var(--amarelo);
width: 100%;
    font-family: 'PPEditorialOld';
  font-weight: 700;
  color: var(--azul-escuro);
font-size: 20px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
padding: 1rem 2rem;
border-radius: 5px;
margin-top: -50px;


}

.secao-4 p {

    font-family: 'PPRightGothicWide';
  font-weight: 400;
  color: var(--azul-escuro);
font-size: 17px;
line-height: 40px;
margin-top: 2rem;


}

@media (min-width: 1220px) {

  .secao-4 .row .bullet{
        height: 455px;
        width: 355px;
}


.secao-4 h5 {
background-color: var(--amarelo);
width: 100%;
    font-family: 'PPEditorialOld';
  font-weight: 700;
  color: var(--azul-escuro);
font-size: 19px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
padding: 1rem 3rem;
border-radius: 5px;
margin-top: -70px;
height: 120px;

}
}


/* SECÇÃO 5 */

.secao-5 {
  background: url('/assets/images/seção-5/BACKGROUND-SEÇÃO-5.jpg') no-repeat center center/cover;
      display: flex;
      align-items: center;
padding: 8rem 0;
}

.secao-5 .esquerda p {
    font-family: 'PPRightGothicWide';
  font-weight: 400;
  color: var(--branco);
text-transform: uppercase;
text-align: center;
font-size: 21px !important;
width: 55%;
}

.secao-5 .direita p {
    font-family: 'PPRightGothicWide';
  font-weight: 400;
  color: var(--branco);
text-align: center;
font-size: 21px;
line-height: 40px;
}

.secao-5 .direita img {

  max-width: 5%;
}


.secao-5 .direita h3 {

  font-family: 'PPRightGothicWide';
  font-weight: 700;
  color: var(--amarelo);
  font-size: 24px;
line-height: 35px;
text-align: justify;
}

/* VIDEO */


.video {
  background: url('/assets/images/video/BACKGROUND-SEÇÃO-6.jpg') no-repeat center center/cover;
  padding: 13rem 0 !important;
}



.video h3 {
    font-size: 24px;
      letter-spacing: 1px;
      font-family: 'PPRightGothicWide';
      font-weight: 400;
  background-color: var(--amarelo);
  color: var(--branco);
  padding: 1rem 1.5rem;
 display: inline-block;
  border-radius: 99px;

}

.video p {
color: var(--azul-escuro);
  font-size: 22px;
  text-align: justify;
  margin: auto;
}


@media (min-width: 992px) {
.video p {
  width: 56%;

}
}

.ratio-16x9 {
    --bs-aspect-ratio: 75%;
    background: #1d1d1d;
    border-radius: 20px;
}

/* FAIXA */

.faixa {
  background-color: var(--amarelo);
}

@media (max-width: 991px) {

  .faixa img {

    margin: 1rem 0;
  }
}


/* SEÇÃO 7 */

.secao-7 {
  background: url('/assets/images/seção-7/BACKGROUND-SEÇÃO-7.jpg') no-repeat center center/cover;
  overflow: hidden;
  padding: 8rem 0 0 0;
}



.secao-7 .bolinha::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: var(--amarelo); 
  border-radius: 50%;
  margin-right: 20px;
 
      top: 00px;
    position: relative;
}


@media (min-width: 992px) {
.secao-7 ul {

  width: 70%;
  margin: auto;
}

.secao-7 .flash-container img {
  max-width: 130%;
}

}


.secao-7 li {
justify-content: center;
  display: flex;
}

.secao-7 p {
      font-family: 'PPRightGothicWide';
      font-weight: 400;
  color: var(--azul-escuro);
  font-size: 18px;
  
  margin-bottom: 0 !important;
}

.secao-7 h5 {

    font-family: 'PPRightGothicWide';
      font-weight: 400;
      color: var(--azul-escuro);
       font-size: 26px;
}

.titulo-hyllua {
  position: relative;
}



.flash-container::after {
  content: "";
  position: absolute;
    top: 20px;
    left: -86px;
  width: 800px; /* ajuste conforme necessário */
  height: 800px;
  background-image: url('/assets/images/seção-7/Light.png'); /* caminho do seu flash */
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  overflow: hidden;
}


@media (min-width: 992px) {
.titulo-hyllua img {
  max-width: 60%;
}
.titulo-hyllua::after {
     content: '';
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    width: 57%;
    height: 5px;
    background-color: var(--amarelo);
}
}

@media (max-width: 991px) {
.titulo-hyllua img {
  max-width: 90%;
}
.titulo-hyllua::after {
     content: '';
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 5px;
    background-color: var(--amarelo);
}
}

/* CERTIFICADO */

.certificado {
  position: relative;
  z-index: 1;
  overflow: hidden;
}


@media (max-width: 767px) {

.certificado::after {
  content: "";
  position: absolute; 
  bottom: -3px;
  left: 0;
  width: 101%;
  height: 40%;
  background-color: var(--cinza);
  z-index: -2;
}


.certificado .container::after {
        content: "";
        position: absolute;
        top: 52%;
        left: 50%;
        width: 95%;
        height: 62%;
        border: 2px solid var(--branco);
        transform: translate(-50%, -50%);
        z-index: -1;
        border-radius: 30px;

}
}


@media (min-width: 768px) { 

.certificado::after {
  content: "";
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48%;
  background-color: var(--cinza);
  z-index: -2;
}


.certificado .container::after {
        content: "";
        position: absolute;
        top: 55%;
        left: 50%;
        width: 75%;
        height: 70%;
        border: 2px solid var(--branco);      
        transform: translate(-50%, -50%);
        z-index: -1;
        border-radius: 30px;
    }

    
}


@media (min-width: 992px) {

  .certificado .light {
        width: 55%;
        margin: auto;
  }
}


  

.certificado {
  background-color: var(--amarelo);
  padding: 10rem 0 5rem 0 !important
}

.certificado h3 {
  font-family: 'PPEditorialOld';
  font-weight: 700;
color: var(--azul-escuro);
font-size: 26px;
}

.certificado p {

    font-family: 'PPRightGothicWide';
    font-weight: 400;
    font-size: 20px;
    color: var(--azul-escuro);
}

.certificado p.light {
    font-weight: 300 !important;
 
}

/* SEÇÃO 9 */

.secao-9 {
    background: url('/assets/images/seção-7/BACKGROUND-SEÇÃO-7.jpg') no-repeat center center/cover;
  overflow: hidden;
  
  padding: 5rem 0;
}

@media (min-width: 992px) {
  .textos-secao {

    padding: 0 6rem;
  }

  .secao-9 img {
max-width: 150%;
  }

  .secao-9 {
    overflow: hidden;
  }
}

.secao-9 .btn-1 {
  color: var(--branco);
}




.secao-9 h3, .secao-9 h5 {
  font-family: 'PPEditorialOld';
  font-size: 22px;
  font-weight: 700;
  color: var(--azul-escuro);
  line-height: 40px;
}

.secao-9 p {
  font-family: 'PPRightGothicWide';
  font-weight: 400;
  color: var(--azul-escuro);
font-size: 19px;
}




/* PRIVACIDADE */

.privacidade {
  background: var(--azul-escuro);
}

.privacidade span, .privacidade a {
  color: var(--branco);
    font-family: 'Montserrat', sans-serif;
  font-weight: 300; /* Light */
  font-size: 12px;
}