
/* CORES */

:root {
  --azul-escuro: #1e2c5c;
  --amarelo: #e6ad7b;
  --azul-claro: #3957a6;
  --branco: #f3f2ef;
  --cinza: #efefee;
}


/* FONTS */
@font-face {
  font-family: 'PPRightGothicWide';
  src: url('/fonts/Right-Gothic/PPRightGothic-WideRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPRightGothicWide';
  src: url('/fonts/Right-Gothic/PPRightGothic-WideLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PPRightGothicWide';
  src: url('/fonts/Right-Gothic/PPRightGothic-WideBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PPEditorialOld';
  src: url('/fonts/Editorial-Old/PPEditorialOld-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPEditorialOld';
  src: url('/fonts/Editorial-Old/PPEditorialOld-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PPEditorialOld';
  src: url('/fonts/Editorial-Old/PPEditorialOld-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

section {

  display: block !important; 
}

/* HERO */

.hero .logo {

  width: 75%;
  margin: 0 auto;
}

@media (max-width: 767px) {

  .hero .logo {

  width: 95%;
  margin: 0 auto;
}
}

    .hero {
      background: url('/assets/images/hero/BACKGROUND-SEÇÃO-1.jpg') no-repeat center center/cover;
      display: flex;
      align-items: center;

    }


    .fs-1 {
      line-height:35px;
      font-size: 30px !important;
    }

    .hero p {
       font-size: 20px;
      letter-spacing: 1px;
      font-family: 'PPRightGothicWide';
      color: var(--branco);
      font-weight: 300;
      letter-spacing: -.5px;
    }

 
.hero-content {
    height: 100%;
display: block;
}



    .bullets {
      display: flex;
      gap: 3rem;
         justify-content: center;
         align-items: center;
    }

    @media (min-width: 768px) {
      .bullets {
        flex-direction: row;
      }
    }

    .bullet-box {
      background: rgba(255, 255, 255, 0.05);
      border-radius: 1rem;
      text-align: center;
      font-size: 18px;
      border: 1px solid var(--amarelo);
      width: 220px;
      height: 140px;
       font-family: 'PPRightGothicWide';
       font-weight: 300;
        color: var(--branco);
        display: flex;
        justify-content: center;
        align-items: center;
          position: relative;
    }

  .btn-1 {
  border: none;
  font-family: 'PPRightGothicWide';
  font-weight: 700;
  transition: all 0.3s ease; /* Adiciona suavidade à transformação */
  background-color: var(--amarelo);
  border-bottom: 5px solid var(--azul-escuro);
  display: inline-flex;
  font-size: 18px;
  padding: 0.8rem 2.5rem;
  color: var(--azul-escuro);
  text-decoration: none;
  border-radius: 10px;
  transform: translateY(0); /* Estado inicial */
}

.btn-1:hover {
  transform: translateY(-4px); /* Sobe 4px suavemente */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Opcional: sombra para realce */
}


.btn-1-mobile {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%) !important;
  white-space: nowrap;
}



    .bullet-box::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 27px;
    width: 40px;
    height: 40px;
    background-image: url('/assets/images/hero/ICONE-ESTRELA-CÍRCULO.png');
    background-size: contain;
    background-repeat: no-repeat;
}


/* SECTION 2 */

.section-2 {

  background-color: var(--amarelo);
}

.section-2 p {
margin: auto;
  color: var(--branco);
  text-align: center;
  font-size: 35px;
  font-family: 'PPRightGothicWide';
  line-height: 45px;
  font-weight: 400;
  letter-spacing: -.5px;
}

.custom-width {
  width: 100%;
}

@media (min-width: 992px) {
  .custom-width {
    width: 50%;
  }
}


/* SORBE IMERSÃO */

.sobre-imersao {
  background: url('/assets/images/sobre-imersao/BACKGROUND-SEÇÃO-2.jpg') no-repeat center center/cover;
      display: flex;
      align-items: center;
       overflow: hidden;
       padding: 5rem 0 10rem 0 !important;
   margin-bottom: -220px;
}

.sobre-imersao h5 {

  border: 1px solid var(--azul-escuro);
  display: inline-flex;
  padding: 1rem 2rem;
  border-radius: 99px;
    font-family: 'PPEditorialOld';
    font-weight: 700;
    color: var(--azul-escuro);
    font-size: 20px;
}

.sobre-imersao li p {
font-family: 'PPRightGothicWide';
    font-weight: 400;
font-size: 19px;
text-align: justify;
line-height: 35px;
    color: var(--azul-escuro);
}

.sobre-imersao li {
position: relative;
z-index: 99;
  padding: 0 6rem;
}

@media (max-width: 767px) {
.sobre-imersao li {
position: relative;
z-index: 99;
  padding: 0 2rem;
}

}


  .btn-2 {
  border: none;
  font-family: 'PPRightGothicWide';
  font-weight: 700;
  transition: all 0.3s ease; /* Adiciona suavidade à transformação */
  background-color: var(--azul-escuro);
  border-bottom: 5px solid var(--amarelo);
  display: inline-flex;
  font-size: 18px;
  padding: 0.8rem 2.5rem;
  color: var(--branco);
  text-decoration: none;
  border-radius: 10px;
  transform: translateY(0); /* Estado inicial */
  z-index: 99999999999;
  position: relative;
}

.btn-2:hover {
  transform: translateY(-4px); /* Sobe 4px suavemente */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Opcional: sombra para realce */
}

.image-wrapper {
  position: relative;
  display: inline-block;
  z-index: 1;
 
}

.image-wrapper::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -75%;
    width: 200%;
    height: 200%;
    background-image: url(/assets/images/sobre-imersao/ÍCONE-ESTRELA.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 1;
}

/* TECNICA */

.tecnica {
  background: url('/assets/images/tecnica/BACKGROUND\ DESKTOP\ COM\ TRANSPARÊNCIA.png') no-repeat center center/cover;
      display: flex;
      align-items: center;
  
       padding: 15rem 0 5rem 0;
       
  
}

.tecnica li p {
  font-family: 'PPRightGothicWide';
  font-weight: 400;
  color: var(--branco);
font-size: 20px;
line-height: 40px;
position: relative;

}

@media (min-width: 992px) {
.tecnica li p::before {
    content: "";
    position: absolute;
    left: -70px;
    top: -10px;
    width: 50px;
    height: 50px;
    background-image: url(/assets/images/tecnica/ÍCONE-ESTRELA.png);
    background-size: contain;
    background-repeat: no-repeat;
}
}

@media (max-width: 991px) {

  .tecnica li p::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -50px;
    width: 50px;
    height: 50px;
    background-image: url(/assets/images/tecnica/ÍCONE-ESTRELA.png);
    background-size: contain;
    background-repeat: no-repeat;
}
}


/* SEÇÃO 4 NOVA HARMONIZAÇÃO */

.secao-4 h3 {

   font-family: 'PPRightGothicWide';
  font-weight: 400;
  color: var(--azul-escuro);
font-size: 45px;
text-align: left;

}

.secao-4 .row.bullets {
padding-top: 5rem !important;

}

.secao-4 .row .bullet{
    border: 2px solid var(--cinza);
    border-radius: 15px;
    margin: 0 20px;
    width: 375px;
    height: 500px;

}

.secao-4 h5 {
background-color: var(--amarelo);
height: 150px;
width: 100%;
    font-family: 'PPEditorialOld';
  font-weight: 700;
  color: var(--azul-escuro);
font-size: 21px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
padding: 1rem 2rem;
border-radius: 15px;
margin-top: -50px;
}

.secao-4 p {

    font-family: 'PPRightGothicWide';
  font-weight: 400;
  color: var(--azul-escuro);
font-size: 18px;
line-height: 40px;
margin-top: 2rem;


}


/* SECÇÃO 5 */

.secao-5 {
  background: url('/assets/images/seção-5/BACKGROUND-SEÇÃO-5.jpg') no-repeat center center/cover;
      display: flex;
      align-items: center;
padding: 8rem 0;
}

.secao-5 .esquerda p {
    font-family: 'PPRightGothicWide';
  font-weight: 400;
  color: var(--branco);
text-transform: uppercase;
text-align: center;
font-size: 22px;
width: 55%;
}

.secao-5 .direita p {
    font-family: 'PPRightGothicWide';
  font-weight: 400;
  color: var(--branco);
text-align: center;
font-size: 20px;
line-height: 40px;
}


.secao-5 .direita h3 {

  font-family: 'PPRightGothicWide';
  font-weight: 700;
  color: var(--amarelo);
  font-size: 22px;
line-height: 40px;
text-align: center;
}

/* VIDEO */


.video {
  background: url('/assets/images/video/BACKGROUND-SEÇÃO-6.jpg') no-repeat center center/cover;
}



.video h3 {
    font-size: 22px;
      letter-spacing: 1px;
      font-family: 'PPRightGothicWide';
      font-weight: 400;
  background-color: var(--amarelo);
  color: var(--branco);
  padding: 1rem 3rem;
 display: inline-block;
  border-radius: 99px;
}

.video p {
color: var(--azul-escuro);
  font-size: 20px;
  text-align: justify;
  line-height: 40px;

  margin: auto;
}


@media (min-width: 992px) {
.video p {
  width: 55%;

}
}

/* FAIXA */

.faixa {
  background-color: var(--amarelo);
}

@media (max-width: 991px) {

  .faixa img {

    margin: 1rem 0;
  }
}


/* SEÇÃO 7 */

.secao-7 {
  background: url('/assets/images/seção-7/BACKGROUND-SEÇÃO-7.jpg') no-repeat center center/cover;
  
}


.secao-7 .bolinha::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: var(--amarelo); 
  border-radius: 50%;
  margin-right: 20px;
 
      top: 00px;
    position: relative;
}


@media (min-width: 992px) {
.secao-7 ul {

  width: 70%;
  margin: auto;
}
}


.secao-7 li {
justify-content: center;
  display: flex;
}

.secao-7 p {
      font-family: 'PPRightGothicWide';
      font-weight: 400;
  color: var(--azul-escuro);
  font-size: 18px;
  
  margin-bottom: 0 !important;
}

.secao-7 h5 {

    font-family: 'PPRightGothicWide';
      font-weight: 400;
      color: var(--azul-escuro);
       font-size: 26px;
}

.titulo-hyllua {
  position: relative;
}

.titulo-hyllua::after {
     content: '';
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    width: 57%;
    height: 5px;
    background-color: var(--amarelo);
}

.flash-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0; /* ou ajuste conforme o posicionamento desejado */
  width: 800px; /* ajuste conforme necessário */
  height: 800px;
  background-image: url('/assets/images/seção-7/Light.png'); /* caminho do seu flash */
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;
}


/* CERTIFICADO */

.certificado {
  position: relative;
  z-index: 1;
}

.certificado::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 52%; /* ajuste a altura como preferir */
  background-color: var(--cinza);
  z-index: -1;
}


.certificado {
  background-color: var(--amarelo);
}

.certificado h3 {
  font-family: 'PPEditorialOld';
  font-weight: 700;
color: var(--azul-escuro);
font-size: 18px;
}

.certificado p {

    font-family: 'PPRightGothicWide';
    font-weight: 400;
    font-size: 16px;
    color: var(--azul-escuro);
}

.certificado p.light {
    font-weight: 300 !important;
 
}

.certificado .container {

  border: 2px solid var(--branco);
  padding: 3rem;
  border-radius: 50px;
}